.container {
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    margin: 0 auto;
    min-width: 100rem;
    .sideBar {
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        padding-left: 40px;
        padding-top: 40px;
        width: 100%
    }
}
