.container {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100rem;
    .sideBar {
    }
    .content {
        border-left: 1px solid #e9e9e9;
        padding-left: 40px;
        padding-top: 40px;
        width: calc(100% - 300px);
    }
}
