.ButtonNav {
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 8px;
    background: none;
    font-size: 14px;
    color: #221f1f;
    transition: all 0.2s ease-in-out;
    
    span {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 16px;
        border-radius: 50%;
        background-color: #f5f5f5;
        transition: all 0.5s ease-in-out;
    }
    &:hover {
        background-color: #e6f5ed;
        border-radius: 4px;
    }
    &.active {
        background-color: #00a04633;
    }
    .wish {
        background-color: #00a046;
        color: white;
        width: 24px;
        height: 24px;
    }
}
