html,
head,
body {
    /* Colors */
    --white-1: #fff;
    --white-2: rgba(255, 255, 255, 0.8);
    --white-3: rgba(255, 255, 255, 0.1);
    --white-4: rgba(255, 255, 255, 0.4);
    --black-1: #000000;
    --black-2: rgba(0, 0, 0, 0.5);
    --black-3: rgba(0, 0, 0, 0.1);

    /* Backgrounds */
    --primary-bg: #28293d;
    --sections-bg: #2d2f45;
    --cards-bg: #373951;
    --card-sections-bg: #3e405b;

    /* Accents */
    --banana: #fec166;
    --banana-lighter: #ffd9a0;
    --banana-darker: #eea02b;
    --blueberry: #0aa4e7;
    --blueberry-lighter: #4ec1f3;
    --blueberry-darker: #1766f9;
    --grape: #7366fe;
    --grape-lighter: #a19afe;
    --grape-darker: #5218ff;
    --peach: #ff7387;
    --peach-lighter: #ff96a5;
    --peach-darker: #ef586e;

    /* Primary Button */
    --primary-button-enabled: #00a04596;
    --primary-button-hover: #00a045 ;
    --primary-button-pressed: linear-gradient(180deg, #4b4fa0 0%, #44488b 100%);

    /* Secondary Button */
    --secondary-button-enabled: linear-gradient(
        180deg,
        #6e7198 0%,
        #60648b 100%
    );
    --secondary-button-hover: linear-gradient(180deg, #b9bcd9 0%, #989bc1 100%);
    --secondary-button-pressed: linear-gradient(
        180deg,
        #4f5275 0%,
        #45475a 100%
    );
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
